<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Managemnt API EJS</title>
  </head>
  <body>
    <ul>
      <% products.forEach(function(product) { %>
        <li id="<%= product.id %>">
          <h3><%= product.name %></h3>
          <p><%= product.price %></p>
        </div>
      <% }); %>
    </ul>
  </body>
</html>
